%footer.footer
  %ul.contents
    %li.content
      %h2.content__head COMIMAについて
      %ul
        %li
          = link_to '#' do 
            会社概要（運営会社）
        %li
          = link_to '#' do 
            プライバシーポリシー
        %li
          = link_to '#' do 
            COMIMA利用規約
        %li
          = link_to '#' do 
            ポイントに関する特約
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to '#' do 
            COMIMAガイド
        %li
          = link_to '#' do 
            COMIMAロゴ利用ガイドライン
        %li
          = link_to '#' do 
            お知らせ
  .footer__logo
    = link_to root_path do
      = image_tag 'logo.png'
  %p © comima
