%header.pcHeader
  .headerInner
    .mainHeader
      %h1.m-h_icon
        = link_to root_path do
          = image_tag "logo.png"
     
      .searchBox
        = form_with(url: products_searches_path, local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchBox__input"
          .searchBox__icon 
            = form.label "icon" do
              = icon('fas', 'search', class: 'icon')
              = form.submit value = "", class: "search-btn" ,id:"icon"
        
      %ul.resultLists
    .nav
      %ul.listsLeft
        %li.categoriesss
          = link_to "categories", id:"catBtn" do
            = icon('fas', 'list-ul', class: 'h-n-l_icon')
            カテゴリーから探す
            
            %ul.category_list
              %li.parents_list
                - @parents.each do |parent|
                  = link_to "#{parent.name}", categories_path(parent), class: "parent_category",id: "#{parent.id}"
              %li.children_list
              %li.grand_children_list
              
        %li.brandsss
          = link_to "#", id:"brandBtn" do
            = icon('fas', 'tag', class: 'h-n-l_icon')
            ブランドから探す
            
          
      %ul.listsRight_log
        %li
          = link_to "#" do 
            = icon('far', 'heart', class: 'h-n_icon')
            いいね！一覧
        %li
          = link_to "#" do 
            = icon('far', 'bell', class: 'h-n_icon')
            お知らせ
        %li
          = link_to "#" do 
            = icon('fas', 'check', class: 'h-n_icon')
            やることリスト
        %li   
          = link_to users_path(:id) do
            = icon('fas', 'user', class: 'h_icon')          
            マイページ
