%header.pcHeader
  .headerInner
    .mainHeader
      %h1.m-h_icon
        = link_to root_path do
          = image_tag "logo.png"
     
      -# .searchBox
      -#   = form_with(url: products_searches_path, local: true, method: :get, class: "search-form") do |form|
      -#     = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchBox__input"
      -#     .searchBox__icon 
      -#       = form.label "icon" do
      -#         = icon('fas', 'search', class: 'icon')
      -#         = form.submit value = "", class: "search-btn" ,id:"icon"
        
      %ul.resultLists
    
            
          
      %ul.listsRight_log
        %li
          = link_to "#" do 
            = icon('far', 'heart', class: 'h-n_icon')
            いいね！一覧
        %li
          = link_to "#" do 
            = icon('far', 'bell', class: 'h-n_icon')
            お知らせ
        %li
          = link_to "#" do 
            = icon('fas', 'check', class: 'h-n_icon')
            やることリスト
        %li   
          = link_to users_path(:id) do
            = icon('fas', 'user', class: 'h_icon')          
            マイページ
