.main
  %section.visual
    .content
      %h2.content__subtitle
        %br/
        コミュニティマップアプリ
      %p.content__text
        COMIMAはコミュニティメンバーだけ
        %br/
        お店を登録できるアプリです
      .content__btn
        =link_to 'https://www.apple.com/jp/', class: "content__btn__a-btn" do
          = image_tag 'app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        =link_to 'https://play.google.com/store?hl=ja', class: "content__btn__g-btn" do
          = image_tag 'google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'
      %p.content__registration
        = link_to "アプリをはじめる", "#", class: "content__registration__btn"
    .picture

  %section.top-introduction{:style => "margin: 0px;padding: 5px 0px 0px; background-color: white;"}
    .x-container.max.width{:style => "margin: 0px auto;padding: 0px;"}
      .x-column.x-sm.x-1-1{:style => "padding: 0px;"}
        %h2.h-custom-headline.cs-ta-left.h3
          %span COMIMAとは？
        %hr.x-hr{:style => "width: 50%;border-top-color: hsl(233, 42%, 36%);border-top-width: 5px;"}/
        %hr.x-gap{:style => "margin: 20px 0 0 0;"}/
    .x-container.max.width1{:style => "margin: 0px auto;padding: 0px;position: relative;"}
      .x-column.x-sm.x-2-3{:style => "padding: 0px;"}
        %h3.h-custom-headline.cs-ta-left.h5
          %span
            COMIMAはコミュニティの活動をサポートするツールです。
            %p
            %p コミュニティ専用のマップを作成することで、メンバー同士の交流が出来ます。
            %p コミュニティ内で、メンバーの活動を応援しませんか？
      .x-column.x-sm.x-1-3{:style => "padding: 0px;"}
        = image_tag "icon.png"
  
  %section.top-middle-dl
    .inner
      %h2.inner__subtitle 新しい目的地を見つける
      %p.inner__text
        COMIMAは、Googleマップを利用した独自なマップアプリ。
        %br/
        外出前に保存した地図を外出先で利用できます！
        %br/
        コミュニティメンバーで新たな出会いがあるかもしれません。
    
  %section.top-key-features
    %h2.subtitle
      COMIMAの機能とは？
    %ul.lists
      %li.list
        .list__pict
          = image_tag 'pict-reason-01.png'
        %h3.list__text
          %span どこでも
          利用可能
        %p.list__description
          外出先でもコミュニティメンバーのお店の場所を検索できます！
      %li.list
        .list__pict
          = image_tag 'pict-reason-02.png'
        %h3.list__text
          %span 共同
          で地図を作成
        %p.list__description
          コミュニティメンバーでコミュニティだけの地図を作ろう！
      %li.list__last
        .list__pict
          = image_tag 'pict-reason-03.png'
        %h3.list__text
          %span グループチャット
          機能
        %p.list__description
          コミュニティメンバーでグループチャットができます！
  